In [16]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [17]:
import pandas as pd
emp=pd.Series(['Dharan','Sudeep','Siva','Yash','Keerthana'])
id=pd.Series([80,90,28,57,49])
frame={'EMP':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nSeries to DataFrame\n")
print(result)

Series to DataFrame

         EMP  ID
0     Dharan  80
1     Sudeep  90
2       Siva  28
3       Yash  57
4  Keerthana  49

In [18]:
print("\nExtracting one column\n")
print(result['EMP'])

Extracting one column

0       Dharan
1       Sudeep
2         Siva
3         Yash
4    Keerthana
Name: EMP, dtype: object

In [19]:
print("\nAdding one column\n")
result['ID']=pd.Series([80,90,28,56,89])
result['Age']=pd.Series([19,90,34,67,20])
print(result)

Adding one column

         EMP  ID  Age
0     Dharan  80   19
1     Sudeep  90   90
2       Siva  28   34
3       Yash  56   67
4  Keerthana  89   20

In [20]:
print("\n deleting new column:\n")
del result['Age']
print(result)

 deleting new column:

         EMP  ID
0     Dharan  80
1     Sudeep  90
2       Siva  28
3       Yash  56
4  Keerthana  89

In [21]:
print("\n Extercting the second row:\n")
print(result.loc[1])

 Extercting the second row:

EMP    Sudeep
ID         90
Name: 1, dtype: object

In [23]:
print("slice row:\n",result[1:4])

slice row:
       EMP  ID
1  Sudeep  90
2    Siva  28
3    Yash  56

In [31]:
d2=pd.DataFrame([['vijay',100],['rashid',112]],columns=['EMP','ID'])
print("\n adding new row values:\n",pd.concat([result,d2]))

 adding new row values:
          EMP   ID
0     Dharan   80
1     Sudeep   90
2       Siva   28
3       Yash   56
4  Keerthana   89
0      vijay  100
1     rashid  112

In [34]:
print("\n deleting particular row:\n",result.drop(2))

 deleting particular row:
          EMP  ID
0     Dharan  80
1     Sudeep  90
3       Yash  56
4  Keerthana  89

In [37]:
import pandas as pd
import numpy as np
print("DataFrame.applyfunction:\n")
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n original DataFrame:\n",info)
print("\n squareroot of DataFrame\n",info.apply(np.sqrt))
print("\n sum of each columns\n",info.apply(np.sum,axis=0))
print("\n sum of each rows\n",info.apply(np.sum,axis=1))

DataFrame.applyfunction:


 original DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 squareroot of DataFrame
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 sum of each columns
 S    12
R    36
dtype: int64

 sum of each rows
 0    12
1    12
2    12
3    12
dtype: int64

In [38]:
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X','Y','Z'])
print("\n original DataFrame:\n",info)
print("\n minimum and maximum of each columns:\n")
print(info.agg(['min','max']))

 original DataFrame:
    X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7

 minimum and maximum of each columns:

     X  Y  Z
min  1  3  5
max  5  8  7