In [5]:
import pandas as pd
car_selling_data={'brand':['maruti','maruti','maruti','maruti','hyundai','hyundai','toyota','mahandra','mahandra','ford','toyota','ford'],'year':[2010,2011,2009,2013,2010,2011,2011,2010,2013,2010,2010,2011],'sold':[6,7,9,8,3,5,2,8,7,2,4,2]}
df=pd.DataFrame(car_selling_data)
print("\n original DataFrame:\n",df)
grouped=df.groupby('year')
print("\n Group by year:\n",grouped.get_group(2010))

 original DataFrame:
        brand  year  sold
0     maruti  2010     6
1     maruti  2011     7
2     maruti  2009     9
3     maruti  2013     8
4    hyundai  2010     3
5    hyundai  2011     5
6     toyota  2011     2
7   mahandra  2010     8
8   mahandra  2013     7
9       ford  2010     2
10    toyota  2010     4
11      ford  2011     2

 Group by year:
        brand  year  sold
0     maruti  2010     6
4    hyundai  2010     3
7   mahandra  2010     8
9       ford  2010     2
10    toyota  2010     4

In [10]:
studentdata={'name':['A','B','C','D','E','F','G','H','I','J'],'rollno':[20,25,20,32,69,32,20,35,69,17],'email':['a@gmail.com','b@gmail.com','c@gmail.com','d@gmail.com','e@gmail.com','f@gmail.com','g@gmail.com','h@gmail.com','i@gmail.com','j@gmail.com']}
df=pd.DataFrame(studentdata)
print("\n original DataFrame:\n",df)

 original DataFrame:
   name  rollno        email
0    A      20  a@gmail.com
1    B      25  b@gmail.com
2    C      20  c@gmail.com
3    D      32  d@gmail.com
4    E      69  e@gmail.com
5    F      32  f@gmail.com
6    G      20  g@gmail.com
7    H      35  h@gmail.com
8    I      69  i@gmail.com
9    J      17  j@gmail.com

In [12]:
non_duplicate=df[df.duplicated('rollno')]
print("\n Removed duplicate rows:\n",df)

 Removed duplicate rows:
   name  rollno        email
0    A      20  a@gmail.com
1    B      25  b@gmail.com
2    C      20  c@gmail.com
3    D      32  d@gmail.com
4    E      69  e@gmail.com
5    F      32  f@gmail.com
6    G      20  g@gmail.com
7    H      35  h@gmail.com
8    I      69  i@gmail.com
9    J      17  j@gmail.com