In [6]:
import pandas as pd
pd.set_option('display.max_columns',6)
print("Original data:\n")
df=pd.read_excel("/Users/student/Downloads/Employees Details (4).xlsx")
print(df)

Original data:

    Emp ID Name Prefix First Name  ...       Mother's Name  \
0   677509        Drs.       Lois  ...        Helen Walker
1   940761         Ms.     Brenda  ...       Judy Robinson
2   428945         Dr.        Joe  ...  Stephanie Robinson
3   408351        Drs.      Diane  ...      Michelle Evans
4   193819         Mr.   Benjamin  ...   Elizabeth Russell
5   499687         Mr.    Patrick  ...        Laura Bailey
6   539712         Ms.      Nancy  ...          Judy Baker
7   380086        Mrs.      Carol  ...    Katherine Murphy
8   477616        Hon.    Frances  ...       Lillian Young
9   162402        Hon.      Diana  ...  Christina Peterson
10  231469         Mr.      Ralph  ...     Michelle Flores
11  153989       Prof.       Jack  ...    Sharon Alexander
12  386158        Mrs.    Melissa  ...          Maria King
13  301576        Hon.      Wayne  ...     Margaret Watson
14  441771        Mrs.     Cheryl  ...          Lois Scott
15  528509        Hon.      Paula  ...        Kathryn Diaz
16  912990         Mr.     Joshua  ...      Martha Stewart
17  214352         Ms.    Theresa  ...         Rebecca Lee
18  890290        Hon.      Julia  ...           Amy Scott

   Mother's Maiden Name    Salary
0                 Lewis  168251.0
1                 Perry   51063.0
2                Taylor   50155.0
3                 Allen  180294.0
4                Nelson  117642.0
5             Henderson   70000.0
6                Thomas   98189.0
7              Peterson   60918.0
8                  Diaz       NaN
9                  Ross   43010.0
10                Moore  118457.0
11               Walker   70000.0
12                White       NaN
13                Hayes   92758.0
14               Watson   70000.0
15               Powell       NaN
16                Jones   70000.0
17               Turner   70000.0
18                 King  141518.0

[19 rows x 10 columns]

In [7]:
f=df['First Name'].str.strip()
f.to_excel("/Users/student/Downloads/Employees Details (4).xlsx")
print("\n Replace value:")
k=df.fillna(method='pad')
print(k)
print("\n Updated list \n")
k.to_excel("/Users/student/Downloads/Employees Details (4).xlsx")

 Replace value:
    Emp ID Name Prefix First Name  ...       Mother's Name  \
0   677509        Drs.       Lois  ...        Helen Walker
1   940761         Ms.     Brenda  ...       Judy Robinson
2   428945         Dr.        Joe  ...  Stephanie Robinson
3   408351        Drs.      Diane  ...      Michelle Evans
4   193819         Mr.   Benjamin  ...   Elizabeth Russell
5   499687         Mr.    Patrick  ...        Laura Bailey
6   539712         Ms.      Nancy  ...          Judy Baker
7   380086        Mrs.      Carol  ...    Katherine Murphy
8   477616        Hon.    Frances  ...       Lillian Young
9   162402        Hon.      Diana  ...  Christina Peterson
10  231469         Mr.      Ralph  ...     Michelle Flores
11  153989       Prof.       Jack  ...    Sharon Alexander
12  386158        Mrs.    Melissa  ...          Maria King
13  301576        Hon.      Wayne  ...     Margaret Watson
14  441771        Mrs.     Cheryl  ...          Lois Scott
15  528509        Hon.      Paula  ...        Kathryn Diaz
16  912990         Mr.     Joshua  ...      Martha Stewart
17  214352         Ms.    Theresa  ...         Rebecca Lee
18  890290        Hon.      Julia  ...           Amy Scott

   Mother's Maiden Name    Salary
0                 Lewis  168251.0
1                 Perry   51063.0
2                Taylor   50155.0
3                 Allen  180294.0
4                Nelson  117642.0
5             Henderson   70000.0
6                Thomas   98189.0
7              Peterson   60918.0
8                  Diaz   60918.0
9                  Ross   43010.0
10                Moore  118457.0
11               Walker   70000.0
12                White   70000.0
13                Hayes   92758.0
14               Watson   70000.0
15               Powell   70000.0
16                Jones   70000.0
17               Turner   70000.0
18                 King  141518.0

[19 rows x 10 columns]

 Updated list

In [8]:
print("\n Drop one Particluar column and its values:\n")
k.drop(["Mother's Name"],axis=1,inplace=True)
print(k)
print("Updated list \n")
k.to_excel("/Users/student/Downloads/Employees Details (4).xlsx")

 Drop one Particluar column and its values:

    Emp ID Name Prefix First Name  ...      Father's Name  \
0   677509        Drs.       Lois  ...      Donald Walker
1   940761         Ms.     Brenda  ...   Raymond Robinson
2   428945         Dr.        Joe  ...     Scott Robinson
3   408351        Drs.      Diane  ...        Jason Evans
4   193819         Mr.   Benjamin  ...    Gregory Russell
5   499687         Mr.    Patrick  ...       Ralph Bailey
6   539712         Ms.      Nancy  ...        Scott Baker
7   380086        Mrs.      Carol  ...      Eugene Murphy
8   477616        Hon.    Frances  ...         Fred Young
9   162402        Hon.      Diana  ...  Jonathan Peterson
10  231469         Mr.      Ralph  ...       Terry Flores
11  153989       Prof.       Jack  ...   Samuel Alexander
12  386158        Mrs.    Melissa  ...        Philip King
13  301576        Hon.      Wayne  ...      Ronald Watson
14  441771        Mrs.     Cheryl  ...      Richard Scott
15  528509        Hon.      Paula  ...          Alan Diaz
16  912990         Mr.     Joshua  ...       Todd Stewart
17  214352         Ms.    Theresa  ...           John Lee
18  890290        Hon.      Julia  ...     Lawrence Scott

   Mother's Maiden Name    Salary
0                 Lewis  168251.0
1                 Perry   51063.0
2                Taylor   50155.0
3                 Allen  180294.0
4                Nelson  117642.0
5             Henderson   70000.0
6                Thomas   98189.0
7              Peterson   60918.0
8                  Diaz   60918.0
9                  Ross   43010.0
10                Moore  118457.0
11               Walker   70000.0
12                White   70000.0
13                Hayes   92758.0
14               Watson   70000.0
15               Powell   70000.0
16                Jones   70000.0
17               Turner   70000.0
18                 King  141518.0

[19 rows x 9 columns]
Updated list