In [1]:
import pandas as pd
import numpy as np
print("DataFrame.applyfunction:\n")
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n original DataFrame:\n",info)
print("\n squareroot of DataFrame\n",info.apply(np.sqrt))
print("\n sum of each columns\n",info.apply(np.sum,axis=0))
print("\n sum of each rows\n",info.apply(np.sum,axis=1))

DataFrame.applyfunction:


 original DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 squareroot of DataFrame
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 sum of each columns
 S    12
R    36
dtype: int64

 sum of each rows
 0    12
1    12
2    12
3    12
dtype: int64

In [2]:
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X','Y','Z'])
print("\n original DataFrame:\n",info)
print("\n minimum and maximum of each columns:\n")
print(info.agg(['min','max']))

 original DataFrame:
    X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7

 minimum and maximum of each columns:

     X  Y  Z
min  1  3  5
max  5  8  7

In [8]:
print("\n DataFrame.Assign function:\n ")
d2=pd.DataFrame([['sudeep',88],['vinith',70]])
columns=(['EMP','ID'])
print("\n original DataFrame:\n",d2)
d2['AGE']=[20,18]
print("\n adding new columns:\n",d2)
d=d2.assign(sex=['Male','Male'])
print("\n adding new columns:\n",d)

 DataFrame.Assign function:


 original DataFrame:
         0   1
0  sudeep  88
1  vinith  70

 adding new columns:
         0   1  AGE
0  sudeep  88   20
1  vinith  70   18

 adding new columns:
         0   1  AGE   sex
0  sudeep  88   20  Male
1  vinith  70   18  Male

In [12]:
import pandas as pd
import numpy as np
print("\n DataFrame.SortFunction:\n")
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['A','B'])
print(info)
info2=info.sort_index()
print("\n sort index:\n",info2)
info3=info.sort_values(by='A')
print("\n sort values:\n",info3)

 DataFrame.SortFunction:

          A         B
3 -0.070744  0.892522
2 -0.211031 -0.770900
0 -0.626921  0.005654
4 -0.521847 -0.674588
1  0.060992 -0.343201

 sort index:
           A         B
0 -0.626921  0.005654
1  0.060992 -0.343201
2 -0.211031 -0.770900
3 -0.070744  0.892522
4 -0.521847 -0.674588

 sort values:
           A         B
0 -0.626921  0.005654
4 -0.521847 -0.674588
2 -0.211031 -0.770900
3 -0.070744  0.892522
1  0.060992 -0.343201

In [13]:
print("\n DataFrame Merge Function:\n")
left=pd.DataFrame({'id':[1,2,3,4],'NAME':['sai','ravi','pavi','yash'],'sub':['sub1','sub2','sub4','sub3']})
right=pd.DataFrame({'id':[1,2,3,4],'NAME':['sanjay','ravi','selvan','raju'],'sub':['sub1','sub4','sub3','sub2']})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

 DataFrame Merge Function:

   id  NAME   sub
0   1   sai  sub1
1   2  ravi  sub2
2   3  pavi  sub4
3   4  yash  sub3
   id    NAME   sub
0   1  sanjay  sub1
1   2    ravi  sub4
2   3  selvan  sub3
3   4    raju  sub2
   id NAME_x sub_x  NAME_y sub_y
0   1    sai  sub1  sanjay  sub1
1   2   ravi  sub2    ravi  sub4
2   3   pavi  sub4  selvan  sub3
3   4   yash  sub3    raju  sub2